<strong>
  <%= comment.commenter %>
</strong>

<p>
  <%= comment.body %>
</p>

<% if current_user.admin? %>
  <p>
    <%= button_to  "Delete Comment", [comment.article, comment],
                  method: :delete,
                  data: {confirm: 'Are you sure?' },
                  :class => "btn btn-danger btn-xs" %>
  </p>
<% end %>